.diagram-editor {
  border: 1px solid black;
}

.diagram-editor .toolbar {
  margin: 5px;
  border: 1px solid grey;
}

.diagram-editor .toolbar .tool {
  background-color: lightgrey;
}

.diagram-editor .toolbar .tool.selected {
  color: white;
  background-color: blue;
}

.diagram-editor .diagram {
  margin: 5px;
  border: 1px solid grey;
}

.diagram-editor .diagram svg * {
  pointer-events: none;
}

/* DIAGRAM STYLE */
.diagram {
  margin: 5px;
  border: 1px solid grey;
}

.diagram svg {
  border: 1px solid pink;
}

.diagram .title {
  color: blue;
}

.diagram .author {
  color: green;
}
