/* HEADER STYLE */

header div.row,
header form,
header h1,
header form input,
header form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/* DIAGRAM EDITOR STYLE */

.diagram-editor {
  border: 1px solid black;
}

.diagram-editor .toolbar {
  margin: 5px;
  border: 1px solid grey;
}

.diagram-editor .toolbar .tool {
  background-color: lightgrey;
}

.diagram-editor .toolbar .tool.selected {
  color: white;
  background-color: blue;
}

.diagram-editor .diagram {
  margin: 5px;
  border: 1px solid grey;
}

.diagram-editor .diagram svg * {
  pointer-events: none;
}

/* DIAGRAM STYLE */
.concept {
  margin: 5px;
  border: 1px solid grey;
}

.concept svg {
  border: 1px solid pink;
}

.concept-title {
  color: blue;
}

.concept-description {
  color: green;
}
