/* BACKGROUND */

body {
  background-color: beige;
}

/* HEADER STYLE */

header {
  border-bottom: 3px solid blue;
  background-color: white;
}

header div.row,
header form,
header h1,
header form input,
header form label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header form label {
  diplay: block;
}

header h1 {
  margin-top: 5px;
}

header form input,
header form label,
header button {
  margin: 5px;
  margin-top: 20px;
  background-color: #169fa0;
}

header button {
  color: white;
}

header button a {
  color: inherit;
  text-decoration: inherit;
}

/* DIAGRAM EDITOR STYLE */

.diagram-editor {
  background-color: none;
}

.diagram-editor .toolbar {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.diagram-editor .toolbar .tool {
  background-color: white;
}

.diagram-editor .toolbar .tool.selected {
  color: white;
  background-color: blue;
}

.diagram-editor .diagram {
  padding: 0;
  width: 800px;
}

.diagram-editor .diagram svg {
  border: 3px solid lightgrey;
  border-radius: 1%;
  background-color: white;
}

.diagram-editor .diagram svg * {
  pointer-events: none;
}

.diagram-editor .diagram svg .foreign {
    text-align: left;
}

.diagram-editor .diagram svg div {
    display: inline-block;
    pointer-events: auto;
}

/* DIAGRAM VIEW STYLE */

.search {
  margin-top: 10px;
}

.search input {
  width: 300px;
}

.diagram-view {
  max-width: 800px;
}

.concept-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.concept {
  margin: 5px;
}

.concept svg {
  border: 3px solid lightgrey;
  border-radius: 1%;
  background-color: white;
}

.concept-title {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.concept-description {
  /*color: green;*/
}
